<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_DIR" value="./Tests/Fixtures/App/app" />
    </php>
    <testsuites>
        <testsuite name="OpenGraphProtocolBundle Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>